<section class="w-full mt-28">
  <h1 class="font-bold text-4xl">Posts#new</h1>
  <p>Find me in app/views/posts/new.html.erb</p>

  <div class="mt-5 w-full">
    <%= simple_form_for @post do |f| %>
      <%= f.input :serialized_steps_data, as: :text %>

      <% if f.object.current_step_is? :step_1 %>
        <%= f.input :title %>
      <% end %>

      <% if f.object.current_step_is? :step_2 %>
        <%= f.input :description %>
      <% end %>

      <% if f.object.current_step_is? :step_3 %>
        <%= f.input :content, input_html: { class: "w-full" } %>
      <% end %>

      <div class="mt-5">
        <%= f.submit "précédent", value: "previous", class: "bg-red-300 p-2 cursor-pointer shadow-sm rounded-sm" %>
        <%= f.submit "suivant", value: "next", class: "bg-green-300 p-2 cursor-pointer shadow-sm rounded-sm" %>
      </div>
    <% end %>
  </div>
</section>

<%= console %>
